:root {
  --primary-color: rgb(214, 81, 255);
  --secondary-color: rgb(41, 41, 41);
}

::selection {
  background-color: var(--primary-color);
  color: white;
}

body {
  margin: 0;
  background-color: var(--secondary-color);
  font-family: Arial, Helvetica, sans-serif;
}

.link {
  color: rgb(224, 123, 255);
}

.main {
  margin: 0;
}

.di-title {
  color: var(--primary-color);
  text-align: center;
}

.di-div {
  text-align: center;
  margin: 40px;
}

.di-input {
  text-align: center;
  display: inline;
  padding: 6px 10px;
  width: 55px;
  background-color: rgb(88, 88, 88);
  border: 0;
  font-size: 1rem;
  outline: none;
  color: white;
  border-radius: 2px;
  margin: 5px;
}

.di-btn-confirm {
  border: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: var(--primary-color);
  font-size: 1rem;
  border-radius: 2px;
  padding: 6px 20px;
  text-align: center;
  margin: 5px;
}

.di-btn-confirm:hover {
  background-color: rgb(184, 69, 219);
}

.sequence-text {
  color: white;
  text-align: center;
  font-size: 3rem;
  font-family: monospace;
}

.foil {
  color: var(--primary-color);
  font-size: 2.5rem;
  font-family: monospace;
}

.phenotype-title {
  color: var(--primary-color);
  text-decoration: underline;
  text-align: center;
  font-size: 2rem;
}

.phenotype-table {
  margin: 20px;
}

.phenotype {
  font-family: monospace;
  color: white;
  text-align: center;
  font-size: 1.75rem;
}

.footer {
  position: fixed;
  bottom: 0;
  height: auto;
  width: 100%;
  background-color: rgb(54, 54, 54);
  margin: 0;
  color: var(--primary-color);
  text-align: center;
  font-family: 'Source Code Pro', monospace;
}

.footer-text {
  margin: 3px;
  color: var(--primary-color);
}

@media (max-width: 630px) {
  .sequence-text {
    font-size: 1.75rem;
  }

  .foil {
    font-size: 1.25rem;
  }

  .phenotype-title {
    font-size: 1.65rem;
  }

  .phenotype {
    font-size: 1.75rem;
  }
}
